/* google font */
*,
html,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  margin: 0;
  /* height: 100%; */
}

/* navbar layout */

/* body content layout */
